<h1>Welcome to PlantPal</h1>
<p>Your go-to app for managing your plant collection.</p>
<%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'Log In', new_user_session_path, class: 'btn btn-secondary' %>
